<script>
$(function(){
    $("#innloggingsfelt").load("{{ url_for('innlogging') }}");
});
</script>
<nav class="navbar navbar-default">
<div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" href="#">Standard Nyhetsblogg</a>
        </div>
        <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('opprett_artikkel') }}">Opprett Artikkel</a></li>
                <li><a href="{{ url_for('opprett_bruker') }}">Opprett Bruker</a></li>
        </ul>
        <div id="innloggingsfelt" class="nav navbar-nav navbar-right "></div>
</div>
</nav>
