{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
        Innlogging
{% endblock %}


{% block style %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
$(function(){
    $("#headerContent").load("{{ url_for('header') }}");
});
</script>
{% endblock %}


{% block head %}
{{ super() }}
<div id="headerContent"></div>
{% endblock %}


{% block content %}
<div class="main container" style="padding-top: 50px;">
        <h1 class="tekst">Registrer nyhet</h1></br>
        <form action="{{ url_for('opprett_artikkel') }}" method="post">
                <dl>
                        {{ form.csrf_token }}
                        {{ wtf.form_field(form.tittel) }}
                        {{ wtf.form_field(form.innhold) }}
                        <dt>Forfatter:
                        <dd><p>{{ brukernavn }}</p>
                        <dd><button type="submit" class=tekst>Publiser nyheten</button>
                </dl>
        <form>
</div>
{% endblock %}
